<h1>Edit Ingredient</h1>

<%= form_with scope: :ingredient, model: @ingredient, url: update_groceries_path, local: true do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :quantity %><br>
		<%= form.number_field :quantity %>
	</p>

	<p>
		<%= form.label :unit %><br>
		<%= form.text_field :unit %>
	</p>

	<p>
		<%= form.submit %>
	</p>

<% end %>