<div class="row section">
	<div class="col-12">
		<h1 class="title">Shopping List (<%= @ingredients.where(:stored => false).length %>)</h1>
	</div>
</div>
<div class="row section">
	<div class="col-12 offset-0 col-md-10 offset-md-1 text-center">
		<button type="button" id="grocery-add-btn" class="btn btn-primary d-block mx-auto" data-toggle="modal" data-target="#grocery-add">Add to List</button>
		<button type="button" id="grocery-move-btn" class="btn btn-primary mt-3 d-block mx-auto" data-toggle="modal" data-target="#groceries-storages-add">Move to Storage</button>
	</div>
</div>

<div class="row section">
	<div class="col-12 offset-0 col-md-10 offset-md-1 text-center p-0">
		<input type="text" id="grocery-search" placeholder="Search" class="form-control">
		<button id="grocery-search-btn" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<% if @ingredients.size == 0 %>
	  	<div class="col-12 col-md-10 offset-md-1">
	  		<h3 class="sub-title text-center">There is no storage record found.</h3>
	  	</div>
	  	<% else %>
		  	<div class="col-12 col-md-10 offset-md-1">
		  		<% @ingredients.where(:stored => false).each do |ingredient| %>
		  			<div class="card grocery-card">
					  <div class="card-body">
					  	<div class="row">
					  		<div class="col-8">
				  				<h2 class="sub-title"><%= ingredient.name%></h2>
				  				<p><b><%= ingredient.quantity_left%>/<%= ingredient.quantity%></b> <%= ingredient.unit%> remaining</p>
				  				<button data-ingredient="<%= ingredient.id%>" class="btn btn-outline-primary grocery-edit-btn">Edit ingredient</button>

				  			</div>
				  			<div class="col-4 d-flex flex-column align-items-end justify-content-between">
				  				<%= form_for ingredient, :url => update_groceries_bought_path(ingredient) do |form| %>
					  				<% if ingredient.bought %>
											<label>
												<div class="box">
													<%= form.check_box :bought, class: "check_box",:checked => true %>
													<span class="check"></span>
												</div>
											</label>
				  					<% else %>
											<label>
												<div class="box">
													<%= form.check_box :bought, class: "check_box" %>
													<span class="check"></span>
												</div>
											</label>
					  				<% end %>
				  				<% end %>
				  				<%= link_to raw('<i class="fa fa-trash mr-1 d-block" aria-hidden="true"></i>'), delete_groceries_path(ingredient),:class=>"d-block text-right", :method =>:delete %>
				  			</div>
					  	</div>
					  </div>
					</div>
		  		<% end %>
		  	</div>
	  	<% end %>
	  </div>
	</div>
</div>



<%= render "application/grocery-add-modal" %>
<%= render "application/grocery-edit-modal" %>
<%= render "application/grocery-storage-add-modal" %>

<%= javascript_include_tag "grocery" %>