<div class="row">
	<div class="col-10">
		<h2>Grocery List (<%= @ingredients.where(:stored => false).length %>)</h2>
	</div>
	<div class="col-2">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#grocery-add">+</button>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table id="grocery-table" class="table">
			<thread>
				<tr>
					<th scope="col">Ingredient</th>
					<th scope="col">Quantity</th>
					<th scope="col">Bought</th>
					<th scope="col"></th>
				</tr>
			</thread>
			<tbody>
				<% @ingredients.where(:stored => false).each do |ingredient| %>
					<tr class="grocery-item">
			  		<td><%= ingredient.name %></td>
			  		<td><%= ingredient.quantity %> <%= ingredient.unit %></td>
			  		<td>
			  			<%= form_for ingredient, :url => update_groceries_bought_path(ingredient) do |form| %>
							<% if ingredient.bought %>
							<label>
								<div class="box">
									<%= form.check_box :bought, class: "check_box",:checked => true %>
									<span class="check"></span>
								</div>
							</label>
			  			<% else %>
								<label>
									<div class="box">
										<%= form.check_box :bought, class: "check_box" %>
										<span class="check"></span>
									</div>
								</label>
			  			<% end %>

			  			<% end %>
			  		</td>
						<td>
							<a data-ingredient=<%= ingredient.id%> class="grocery-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							&nbsp;<%= link_to raw('  <i class="fa fa-trash" aria-hidden="true"></i>'), delete_groceries_path(ingredient), :method =>:delete %>
						</td>
	  			</tr>
  			<% end %>
			</tbody>
		</table>
	</div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groceries-storages-add">Add to Storage</button>

<%= render "application/grocery-add-modal" %>
<%= render "application/grocery-edit-modal" %>
<%= render "application/grocery-storage-add-modal" %>

<%= javascript_include_tag "grocery" %>