<div class="row">
	<div class="col-10">
		<h2>Grocery List</h2>
	</div>
	<div class="col-2">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#grocery-add">+</button>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table id="grocery-table" class="table">
			<thread>
				<tr>
					<th scope="col">Ingredient</th>
					<th scope="col">Quantity</th>
					<th scope="col">Bought</th>
				</tr>
			</thread>
			<tbody>
				<% @ingredients.each do |ingredient| %>
					<tr class="grocery-item">
			  		<td><%= ingredient.name %></td>
			  		<td><%= ingredient.quantity %></td>
			  		<td><%= ingredient.bought %></td>
		  			<td><button data-ingredient="<%= ingredient.id%>" class="grocery-edit-btn btn btn-primary">Edit</button></td>
		  			<td><%= link_to 'Delete', delete_groceries_path(ingredient), :confirm => "Are you sure?", :method =>:delete %></td>
	  			</tr>
  			<% end %>
			</tbody>
		</table>
	</div>
</div>
<%= render "application/grocery-add-modal" %>
<%= render "application/grocery-edit-modal" %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>