<div class="row mb-5 mb-md-0 text-center">
	<div class="col-12">
		<h1 class="title">Login</h1>
	</div>
</div>

<div class="row text-center">
	<div class="offset-0 col-12 offset-md-4 col-md-4 login-form">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field form-group">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your email" %>
			</div>

			<div class="field form-group mb-0">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control"  %>
			</div>
			<div class= "text-left mt-2">
				<small><%= link_to 'Forget password?', new_user_password_path %></small>
			</div>

			<div class="actions section">
				<%= f.submit "Login", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
	<div class ="offset-0 col-12 offset-md-3 col-md-6">

	</div>
</div>
<div class="row text-center">
	<div class = "offset-0 col-12 offset-md-3 col-md-6 login-text">
		<p class="mb-0">Don't have an account?</p>
		<p>Click <%= link_to 'here', new_user_registration_path %> to create an account! </p>
	</div>
</div>