<div class="row section">
	<div class="col-12">
		<h1 class="title">Dashboard</h1>
	</div>
</div>
<div class="row section">
	<div class="col-6 col-md-6">
		<h2 class="sub-title food-report">Food Report</h2>
	</div>
	<div class="col-6">
		<%= form_with url: dashboards_path, method: :get, skip_enforcing_utf8: true do %>
			<%= select_tag(:duration, options_for_select([['All Time', 'all'],['Last Year','year'],['Last Quarter', 'quarter'],['Last Month', 'month'], ['Last Week', 'week'], ['Yesterday', 'day']], :selected => params[:duration]), :onchange => "this.form.submit();", :class => 'form-control') %>
		<% end %>
	</div>
	<div class="col-12">
		<div class="row align-items-center doughnut">
			<div class="col-6 col-md-4">
				<p class="text-center consumed">Food Consumed <span class="doughnut-stats"><%= @doughnut[:datasets].first[:data][1] %>%</span></p>
			</div>
			<div class="col-10 offset-1 col-md-4 order-1 order-md-0 offset-md-0">
				<%= doughnut_chart @doughnut, @doughnutOpt %>
			</div>
			<div class="col-6 col-md-4">
				<p class="text-center wastage">Food Wasted <span class="doughnut-stats"><%= @doughnut[:datasets].first[:data].first %>%</span></p>
			</div>
		</div>
	</div>
</div>


<div class="row section">
	<div class="col-12">
		<h3 class="sub-title months-average">6 Months Average</h3>
	</div>
	<div class="col-12">
		<%= bar_chart @bar, @barOpt %>
	</div>
</div>

<div class="row section">
	<div class="col-12 col-md-10 offset-md-1 dashboard-title">
		<h2 class="sub-title">Storage List </h2>
		<div>
			<%= link_to raw('<span>View all <i class="fa fa-angle-right" aria-hidden="true"></i></span>'), storages_path %>
		</div>
	</div>
	<% if @storageItems.size == 0 %>
	  	<div class="col-12 col-md-10 offset-md-1 dashboard-storage">
	  		<h3 class="sub-title text-center">There is no storage record found.</h3>
	  	</div>
	<% else %>
		<% 	@storageItems.each do |ingredient|  %>
			<div class="col-12 col-md-10 offset-md-1 dashboard-storage">
				<%
					start_date = Date.today
					end_date = ingredient.expiry_date
					days_remaining = (end_date - start_date).to_i
				%>
				<div class="card storage-card">
					<div class="card-body">
						<div class="row">
							<div class="col-8 card-body-storage-text">
								<h2 class="sub-title"><%= ingredient.name%></h2>
								<p><b><%= ingredient.quantity_left%>/<%= ingredient.quantity%></b> <%= ingredient.unit%> remaining</p>
							</div>
							<div class="col-4">
								<% if days_remaining >= 0 %>
									<div class="fresh">
										<p>Expires in</p>
										<div class="expiring-days">
											<p><span class="days"><%= days_remaining%></span> Days</p>
										</div>
									</div>
								<% else %>
									<div class="expired">
										<p>Expired</p>
										<div class="expiring-days">
											<p><span class="days"><%= days_remaining*-1%></span> Days ago</p>
										</div>
									</div>
								<% end %>
							</div>

						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>

<div class="row section">
	<div class="col-12 col-md-10 offset-md-1 dashboard-title">
			<h2 class="sub-title">Shopping List </h2>
			<div>
				<%= link_to raw('<span>View all <i class="fa fa-angle-right" aria-hidden="true"></i></span>'), groceries_path %>
			</div>
	</div>

	<% if @groceryItems.size == 0 %>
			<div class="col-12 col-md-10 offset-md-1 dashboard-grocery">
					<h3 class="sub-title text-center">There is no shopping item found.</h3>
			</div>
	<% else %>
				<% @groceryItems.where(:stored => false).each do |ingredient| %>
				<div class="col-12 col-md-10 offset-md-1 dashboard-grocery">
					<div class="card grocery-card">
						<div class="card-body">
							<div class="row">
								<div class="col-8 card-body-grocery-text">
									<h2 class="sub-title"><%= ingredient.name%></h2>
									<p><b><%= ingredient.quantity%></b> <%= ingredient.unit%> remaining</p>
								</div>

								<div class="col-4 d-flex flex-column align-items-end justify-content-between">
									<%= form_for ingredient, :url => update_groceries_bought_path(ingredient) do |form| %>
										<% if ingredient.bought %>
											<label>
												<div class="box">
													<%= form.check_box :bought, class: "check_box",:checked => true %>
													<span class="check"></span>
												</div>
											</label>
										<% else %>
											<label>
												<div class="box">
													<%= form.check_box :bought, class: "check_box" %>
													<span class="check"></span>
												</div>
											</label>
										<% end %>
									<% end %>
									<%= link_to raw('<i class="fa fa-trash mr-1 d-block" aria-hidden="true"></i>'), delete_groceries_path(ingredient),:class=>"d-block text-right", :method =>:delete %>
								</div>
							</div>
							</div>
						</div>
				</div>
				<% end %>
		<% end %>
	</div>