<div class='container'>
<%= form_with url: dashboards_path, method: :get, skip_enforcing_utf8: true do %>
	<%= select_tag(:duration, options_for_select([['All Time', 'all'],['Last Year','year'],['Last Quarter', 'quarter'],['Last Month', 'month'], ['Last Week', 'week'], ['Yesterday', 'day']], :selected => params[:duration]), :onchange => "this.form.submit();") %>
<% end %>

<p> Food Wastage: <%= @doughnut[:datasets].first[:data].first %>% </p>
<%= doughnut_chart @doughnut, @doughnutOpt %>
<p> Food Consumed: <%= @doughnut[:datasets].first[:data][1] %>% </p>
</div>