<div class="row section">
	<div class="col-12">
		<h1 class="title">Dashboard</h1>
	</div>
</div>
<div class="row section">
	<div class="col-6 col-md-6">
		<h2 class="sub-title">Food Report</h2>
	</div>
	<div class="col-6">
		<%= form_with url: dashboards_path, method: :get, skip_enforcing_utf8: true do %>
			<%= select_tag(:duration, options_for_select([['All Time', 'all'],['Last Year','year'],['Last Quarter', 'quarter'],['Last Month', 'month'], ['Last Week', 'week'], ['Yesterday', 'day']], :selected => params[:duration]), :onchange => "this.form.submit();", :class => 'form-control') %>
		<% end %>
	</div>
	<div class="col-12">
		<div class="row align-items-center doughnut">
			<div class="col-6 col-md-4">
				<p class="text-center consumed">Food Consumed <span class="doughnut-stats"><%= @doughnut[:datasets].first[:data][1] %>%</span></p>
			</div>
			<div class="col-10 offset-1 col-md-4 order-1 order-md-0 offset-md-0">
				<%= doughnut_chart @doughnut, @doughnutOpt %>
			</div>
			<div class="col-6 col-md-4">
				<p class="text-center wastage">Food Wasted <span class="doughnut-stats"><%= @doughnut[:datasets].first[:data].first %>%</span></p>
			</div>
		</div>
	</div>
</div>


<div class="row section">
	<div class="col-12">
		<%= bar_chart @bar, @barOpt %>
	</div>
</div>

<div class="row section">
	<div class="col-8 col-md-5 offset-md-1 dashboard-title">
		<h2 class="sub-title mb-2 pl-1"> Storage Items </h2>
	</div>
	<div class="col-4 col-md-5 dashboard-angle-div">
		<%= link_to raw('<i class="fa fa-angle-right" aria-hidden="true"></i>'), storages_path %>
	</div>
		<% 	@storageItems.each do |ingredient|  %>
			<div class="col-12 col-md-10 offset-md-1">
				<%
					start_date = Date.today
					end_date = ingredient.expiry_date
					days_remaining = (end_date - start_date).to_i
				%>
				<div class="card storage-card">
					<div class="card-body">
						<div class="row">
							<div class="col-8">
								<h2 class="sub-title"><%= ingredient.name%></h2>
								<p><b><%= ingredient.quantity_left%>/<%= ingredient.quantity%></b> <%= ingredient.unit%> remaining</p>
							</div>
							<div class="col-4">
								<% if days_remaining >= 0 %>
									<div class="fresh">
										<p>Expires in</p>
										<div class="expiring-days">
											<p><span class="days"><%= days_remaining%></span> Days</p>
										</div>
									</div>
								<% else %>
									<div class="expired">
										<p>Expired</p>
										<div class="expiring-days">
											<p><span class="days"><%= days_remaining*-1%></span> Days ago</p>
										</div>
									</div>
								<% end %>
							</div>
							<!-- <div class="col-2">
								<button class="storage-edit-btn btn btn-primary" data-ingredient=<%= ingredient.id %>>Update Quantity</i></button>
							</div>
							<div class="col-md-3">
								<p><%= ingredient.quantity_left%>/<%= ingredient.quantity%> <%= ingredient.unit%> remaining</p>
							</div>
							<div class="col-md-3">
								<% if days_remaining >= 0 %>
									<p class="fresh">Expiring in <%= days_remaining%> Days</p>
								<% else %>
									<p class="expired">Expired <%= days_remaining*-1%> Days ago</p>
								<% end %>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		<% end %>

<div class="row section">
	<div class="col-12">
		<h2 class="sub-title mb-5"> Grocery Items (<%= @noInGrocery %>)</h2>
		<%= link_to 'Grocery Page', groceries_path %>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ingredient</th>
					<th scope="col">Quantity</th>
					<th scope="col">Bought</th>
				</tr>
			</thead>
			<tbody>
				<% @groceryItems.each do |ingredient| %>
				<tr>
					<td><%= ingredient.name %></td>
					<td><%= ingredient.quantity %> <%= ingredient.unit %></td>
					<td>
						<div class="form-check">
							<% if ingredient.bought %>
								<input class="form-check-input" type="checkbox" value="" id=<%= ingredient.id %> checked disabled>
							<% else %>
								<input class="form-check-input" type="checkbox" value="" id=<%= ingredient.id %> disabled>
							<% end %>
						</div>
					</td>
				</tr>
				<% end %>

			</tbody>
		</table>
	</div>
</div>