<%= form_with scope: :ingredient, model: @ingredient, url: update_groceries_path(@ingredient), local: true do |form| %>
	<div class="form-group">
		<%= form.label :name %>
		<%= form.text_field :name, class:"form-control",placeholder:"Name of Ingredient" %>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-12">
				<label for="quantity">Total Quantity</label>
			</div>
			<div class="col-6">
				<%= form.number_field :quantity, class:"form-control",placeholder:"Amount" %>
			</div>
			<div class="col-6">
				<%= form.text_field :unit, class:"form-control unit",placeholder:"Unit" %>
			</div>
		</div>
	</div>
	<%= form.submit :class=>'btn btn-primary grocery-edit-submit-btn' %>
<% end %>