<div class="row section">
	<div class="col-12 p-0 title">
		<h1 class="title">Food Report</h1>
	</div>
</div>
<div class="row section section-first">
	<div class="col-6">
		<%= form_with url: reports_path, method: :get, skip_enforcing_utf8: true do %>
		<%= select_tag(:duration, options_for_select([['All Time', 'all'],['Last Year','year'],['Last Quarter', 'quarter'],['Last Month', 'month'], ['Last Week', 'week'], ['Yesterday', 'day']], :selected => params[:duration]), :onchange => "this.form.submit();", :class => 'form-control') %>
	</div>

	<div class="col-6">
		<%= select_tag(:wastage, options_for_select([['Wastage Ascending', 'asc'],['Wastage Descending','desc']], :selected => params[:wastage]), :onchange => "this.form.submit();", :class => 'form-control') %>
		<% end %>
	</div>
</div>

<div class="row section">
	<div class="col-12 p-0">
		<% if @details.length <= 0 %>
  		<h3 class="sub-title text-center">There is no report found.</h3>
		<% else %>
			<% @details.each do |detail| %>
				<div class="row section">
					<div class="col-12 p-0">
							<div class="row">
								<h2 class="sub-title col-6"><%= detail[:tag_name] %></h2>
								<div class="col-6 text-right">
									<%= link_to raw('<span> Details <i class="fa fa-angle-right" aria-hidden="true"></i></span>'), report_path(detail[:tag]), :id=> "report-arrow" %>
								</div>
							</div>
						<div class="progress">
					 		<div class="progress-bar" id="consumed-bar" role="progressbar" style="width: <%= detail[:consumed] %>%" aria-valuenow=<%= detail[:consumed]%> aria-valuemin="0" aria-valuemax="100"></div>
					  	<div class="progress-bar" id="waste-bar" role="progressbar" style="width: <%= detail[:waste] %>%" aria-valuenow=<%= detail[:waste]%> aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="row">
							<div class="col consumed-text"><%= "#{detail[:consumed]}%" %></div>
							<div class="col waste-text text-right"><%= "#{detail[:waste]}%" %></div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>