<div class="row section">
	<div class="col-12 p-0">
		<h1 class="title"><%=@tag.name%></h1>
	</div>
</div>
<div class="row section">
	<div class="col-12 p-0">
		<%= scatter_chart @data, @options %>
	</div>
</div>
<div class="row section">
	<div class="col-12 p-0">
	  <input class="form-control" id="report-search" type="text" placeholder="Search" aria-label="Search">
	  <button id="report-search-btn" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
</div>


<div class="row section">
	<div class="col-12 p-0">
		<table class="table report-table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Ingredient</th>
					<th scope="col" class="wastage">Wasted</th>
					<th scope="col" class="consumed">Consumed</th>
				</tr>
			</thead>
			<tbody id='report-table'>
				<% @ingredients.each do |ingredient| %>
					<tr>
			  		<td><%= ingredient.name %></td>
			  		<td><%= ingredient.quantity_left %> <%= ingredient.unit %> (<%= ((ingredient.quantity_left.to_f/ingredient.quantity.to_f)*100).round(2) %>%)</td>
			  		<td><%= ingredient.quantity - ingredient.quantity_left %> <%= ingredient.unit %> (<%= 100 - ((ingredient.quantity_left.to_f/ingredient.quantity.to_f)*100).round(2) %>%)</td>
					</tr>
  		<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
$(document).ready(function(){
  $("#report-search").on("keyup", function() {
		var value = $(this).val().toLowerCase();
    $("#report-table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
  });
});
</script>